{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <h1>{{ title }}</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <a href="{{ path('edit_profile', {'id': app.user.id}) }}" class="btn btn-success">retour</a>
    <button class="btn btn-primary" type="submit">Envoyer</button>
    <button class="btn btn-danger" type="reset">Effacer</button>
    {{ form_end(form) }}

{% endblock %}