{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <h1>{{ title }}</h1>
    <p><a class="btn btn-danger" href="{{ path('edit_password', {'id': app.user.id}) }}">modifier mon mot de passe</a></p>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-success">modifier</button>
    {{ form_end(form) }}

{% endblock %}