{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    {{ title | h1 }}

    <p>{% trans %}Username{% endtrans %} : {{ user.username }}</p>
    <p>{% trans %}Email{% endtrans %} : {{ user.email }}</p>
    <p>{% trans %}Phone{% endtrans %} : {{ user.phone }}</p>
    <p>{% trans %}Address{% endtrans %} : {{ user.address }}</p>
    <p>{% trans %}Zip code{% endtrans %} : {{ user.zipCode }}</p>
    <p>{% trans %}City{% endtrans %} : {{ user.city }}</p>
    <p>{% trans %}Country{% endtrans %} : {{ user.country }}</p>
    <p>{% trans %}Created{% endtrans %} : {{ user.createdAt | date("d/m/Y") }}</p>
    <p>{% trans %}Number of tasks{% endtrans %} : {{ user.tasks | length }}</p>
    <p>{% trans %}Number of categories{% endtrans %} : {{ user.categories | length }}</p>
    {% if app.user.image %}
        <p><img src="{{ asset('/uploads/images/' ~ app.user.image) }}" alt="avatar"> <a class="btn btn-warning btn-sm" onclick="return confirm('Delete your avatar ?');" href="{{ path('delete_avatar') }}"><i class="fas fa-trash-alt fa-2x"></i></a></p>
    {% else %}
        <p>{% trans %}Avatar{% endtrans %} : <i class="fas fa-user-circle fa-2x"></i></p>
    {% endif %}

    <a href="{{ path('edit_profile') }}" class="btn btn-success btn-sm"><i class="fas fa-pencil-alt fa-2x"></i></a>
{% endblock %}
