{% extends 'base.html.twig' %}

{% block title %}{% trans %}Mon profil{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Mon profil{% endtrans %}</h1>

    <p>{% trans %}Nom d'utilisateur{% endtrans %} : {{ user.username }}</p>
    <p>{% trans %}Email{% endtrans %} : {{ user.email }}</p>
    <p>{% trans %}Téléphone{% endtrans %} : {{ user.phone }}</p>
    <p>{% trans %}Adresse{% endtrans %} : {{ user.address }}</p>
    <p>{% trans %}Code postale{% endtrans %} : {{ user.zipCode }}</p>
    <p>{% trans %}Ville{% endtrans %} : {{ user.city }}</p>
    <p>{% trans %}Pays{% endtrans %} : {{ user.country }}</p>
    <p>Inscrit le : {{ user.createdAt | date("d/m/Y") }}</p>
    <p>Nombre de tâches : {{ user.tasks | length }}</p>
    <p>Nombre de catégories : {{ user.categories | length }}</p>
    {% if app.user.image %}
        <p><img src="{{ asset('/uploads/images/' ~ app.user.image) }}" alt="avatar"> <a class="btn btn-warning btn-sm" onclick="return confirm('Supprimer votre image de profil ?');" href="{{ path('delete_avatar') }}"><i class="fas fa-trash-alt fa-2x"></i></a></p>
    {% else %}
        <p>Ma photo de profil : <i class="fas fa-user-circle fa-2x"></i></p>
    {% endif %}

    <a href="{{ path('edit_profile') }}" class="btn btn-success btn-sm"><i class="fas fa-pencil-alt fa-2x"></i></a>
{% endblock %}
