{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    {{ title | h1 }}

    <p>Nom d'utilisateur : {{ user.username }}</p>
    <p>Email : {{ user.email }}</p>
    <p>Téléphone : {{ user.phone }}</p>
    <p>Adresse : {{ user.address }}</p>
    <p>Code postale : {{ user.zipCode }}</p>
    <p>Ville : {{ user.city }}</p>
    <p>Pays : {{ user.country }}</p>
    <p>Inscrit le : {{ user.createdAt | date("d/m/Y") }}</p>
    <p>Nombre de tâches : {{ user.tasks | length }}</p>
    <p>Nombre de catégories : {{ user.categories | length }}</p>
    {% if app.user.image %}
        <p><img src="{{ asset('/uploads/images/' ~ app.user.image) }}" alt="avatar"> <a class="btn btn-warning btn-sm" onclick="return confirm('Supprimer votre image de profil ?');" href="{{ path('delete_avatar') }}"><i class="fas fa-trash-alt fa-2x"></i></a></p>
    {% else %}
        <p>Ma photo de profil : <i class="fas fa-user-circle fa-2x"></i></p>
    {% endif %}

    <a href="{{ path('edit_profile') }}" class="btn btn-success btn-sm"><i class="fas fa-pencil-alt fa-2x"></i></a>
{% endblock %}
