{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    {% if app.user is null %}

    <h1>{{ title }}</h1>

        {% include 'success_flash_message.html.twig' %}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.password) }}

        <button type="submit" class="btn btn-primary">Sign up</button>
        <button type="reset" class="btn btn-danger">Erase</button>
    {{ form_end(registrationForm) }}

    {% else %}
        <h3>you are already connected</h3>
    {% endif %}
{% endblock %}
