{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-lg-6">
    {% if app.user is null %}

        {{ title | h1 }}

                {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.username) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.password) }}

                    <button type="submit" class="btn btn-primary btn-sm">{% trans %}Register{% endtrans %}</button>
                    <button type="reset" class="btn btn-danger btn-sm">{% trans %}Reset{% endtrans %}</button>
                {{ form_end(registrationForm) }}

                {% else %}
                    <h3>{% trans %}You are already logged in{% endtrans %}</h3>

    {% endif %}
        </div>
    </div>
{% endblock %}
