{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <h1>{{ title }}</h1>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <p>
                <a class="btn btn-primary btn-sm" href="{{ path('category_index') }}"><i class="fas fa-arrow-left fa-2x"></i></a>
                <button class="btn btn-success btn-sm"><i class="fas fa-check fa-2x"></i></button>
            </p>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
