{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    {{ title | h1center }}

    {% if tasks | length > 1 %}<h3 class="center">{% trans %}completed tasks{% endtrans %} {{ tasks | length }}</h3>{% endif %}
    {% if tasks | length == 1 %}<h3 class="center">{% trans %}completed task{% endtrans %} {{ tasks | length }}</h3>{% endif %}
    {% if tasks | length == 0 %}<h3 class="center">{% trans %}No tasks{% endtrans %}</h3>{% endif %}

    <a class="btn btn-success" href="{{ path('tasks') }}">{% trans %}My tasks{% endtrans %}</a>

    <div class="row justify-content-center">
        {% for task in tasks %}
            <div class="post-it mt-3 col-lg-12 col-md-12 col-sm-12">
                <h3>{{ task.title }}</h3>
                {{ task.content | raw }}
                <p>{% trans %}Add {% endtrans %} : {{ task.createdAt | date('d/m/Y')}}
                {% if task.updatedAt %}
                    - {% trans %}Updated{% endtrans %} : {{ task.updatedAt | date('d/m/Y')}}
                {% endif %}
                 - {% trans %}Done {% endtrans %} : {{ task.doneAt | date('d/m/Y')}}
                {% if task.category %}
                    - {% trans %}In category {% endtrans%} : {{ task.category.name }}
                    {% endif %}
                </p>
                <p>
                    <a class="link-white ml-2" href="{{ path('done_task', {'id': task.id}) }}"><i class="fas fa-check fa-2x"></i></a>
                    <a class="link-white ml-2" href="{{ path('delete_task', {'id': task.id}) }}"><i class="fas fa-trash-alt fa-2x"></i></a>
                </p>
            </div>
        {% endfor %}
    </div>
{% endblock %}