{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <h1 class="center">{{ title }}</h1>

    {% if tasks | length > 1 %}<h3 class="center">tâches terminées {{ tasks | length }}</h3>{% endif %}
    {% if tasks | length == 1 %}<h3 class="center">tâche terminée {{ tasks | length }}</h3>{% endif %}
    {% if tasks | length == 0 %}<h3 class="center">Pas de tâches</h3>{% endif %}

    <a class="btn btn-success" href="{{ path('tasks') }}">Mes tâches</a>

    <div class="row justify-content-center">
        {% for task in tasks %}
            <div class="post-it mt-3 col-lg-12 col-md-12 col-sm-12">
                <h3>{{ task.title }}</h3>
                <p>{{ task.content }}</p>
                <p>Ajouter le : {{ task.createdAt | date('d/m/Y')}}
                {% if task.updatedAt %}
                    - Mise à jour le : {{ task.updatedAt | date('d/m/Y')}}
                {% endif %}
                 - Terminée le : {{ task.doneAt | date('d/m/Y')}}
                {% if task.category %}
                    - Dans la catégories : {{ task.category.name }}
                    {% endif %}
                </p>
                <p>
                    <a class="btn btn-primary" href="{{ path('done_task', {'id': task.id}) }}">A faire</a>
                    <a class="btn btn-danger" href="{{ path('delete_task', {'id': task.id}) }}">Effacer</a>
                </p>
            </div>
        {% endfor %}
    </div>
{% endblock %}