{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-lg-8">
            {{ title | h1 }}

            <p><a class="btn btn-danger btn-sm" href="{{ path('delete_task_image', {'id' : app.request.get('id')}) }}" onclick="return confirm('Supprimer l\'image ?');">supprimer image</a></p>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary btn-sm"><i class="fas fa-check fa-2x"></i></button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}