{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    {{ title | h1center }}

    {% if tasksPin | length == 1 %}<h3 class="center">Tâche épinglée à terminer {{ tasksPin | length }}</h3>{% endif %}
    {% if tasksPin | length > 1 %}<h3 class="center">Tâches épinglées à terminer {{ tasksPin | length }}</h3>{% endif %}
    {% if tasks | length == 1 %}<h3 class="center">Tâche non épinglée à terminer {{ tasks | length }}</h3>{% endif %}
    {% if tasks | length > 1 %}<h3 class="center">Tâches non épinglées à terminer {{ tasks | length }}</h3>{% endif %}

    <a class="btn btn-success" href="{{ path('create_task') }}">Crée une tâche</a>
    <a class="btn btn-warning" href="{{ path('view_done_task') }}">Tâches terminées</a>

    <hr>

    {% if tasksPin | length == 0 %}<h5 class="center">Pas de tâches épinglées</h5>{% endif %}


    <div class="row justify-content-center">
        {% if tasksPin | length >= 1  %}<h3 class="center">Tâches épinglées</h3>{% endif %}
        {% for taskPin in tasksPin %}
            <div class="pin-post-it mt-3 col-lg-12 col-md-12 col-sm-12">
                <h3><a class="link-white" href="{{ path('show_task', {'id': taskPin.id}) }}">{{ taskPin.title }}</a></h3>
                <p>{{ taskPin.content }}</p>
                <p>
                    Ajouté le : {{ taskPin.createdAt | date('d/m/Y')}}
                {% if taskPin.updatedAt %}
                     - Mise à jour le : {{ taskPin.updatedAt | date('d/m/Y')}}
                {% endif %}
                    {% if taskPin.category %}
                        - Dans la catégorie : {{ taskPin.category.name }}
                    {% endif %}
                </p>
                <p>
                    <a class="btn btn-warning btn-sm" onclick="return confirm('Envoyer cette tâche sur votre email ?');" href="{{ path('send_task_myEmail', {'id' : taskPin.id}) }}">Envoyer sur mon email</a>
                </p>
                <p>
                    <a class="link-white ml-2" href="{{ path('edit_task', {'id': taskPin.id}) }}"><i class="fas fa-pencil-alt fa-2x"></i></a>
                    <a class="link-white ml-2" href="{{ path('done_task', {'id': taskPin.id}) }}"><i class="fas fa-check fa-2x"></i></a>
                    <a class="link-white ml-2" href="{{ path('task_pin', {'id': taskPin.id}) }}"><i class="fas fa-arrow-down fa-2x"></i></a>
                    <a class="link-white ml-2" onclick="return confirm('Supprimer cette tâche ?');" href="{{ path('delete_task', {'id': taskPin.id}) }}"><i class="fas fa-trash-alt fa-2x"></i></a>
                </p>
            </div>
        {% endfor %}
    </div>

    <hr>

    <div class="row justify-content-center">
    {% for task in tasks %}
                <div class="post-it mt-3 col-lg-12 col-md-12 col-sm-12">
                    <h3><a class="link-white" href="{{ path('show_task', {'id': task.id}) }}">{{ task.title }}</a></h3>
                    <p>{{ task.content }}</p>
                    <p>
                        Ajouté le : {{ task.createdAt | date('d/m/Y')}}
                    {% if task.updatedAt %}
                        - Mise à jour le : {{ task.updatedAt | date('d/m/Y')}}
                        {% endif %}
                        {% if task.category %}
                    - Dans la catégorie : {{ task.category.name }}
                    {% endif %}
                    </p>
                    <p>
                        <a class="btn btn-warning btn-sm" onclick="return confirm('Envoyer cette tâche sur votre email ?');" href="{{ path('send_task_myEmail', {'id' : task.id}) }}">Envoyer sur mon email</a>
                    </p>
                    <p>
                        <a class="link-white ml-2" href="{{ path('edit_task', {'id': task.id}) }}"><i class="fas fa-pencil-alt fa-2x"></i></a>
                        <a class="link-white ml-2" href="{{ path('done_task', {'id': task.id}) }}"><i class="fas fa-check fa-2x"></i></a>
                        <a class="link-white ml-2" href="{{ path('task_pin', {'id': task.id}) }}"><i class="fas fa-thumbtack fa-2x"></i></a>
                        <a class="link-white ml-2" onclick="return confirm('Supprimer cette tâche ?');" href="{{ path('delete_task', {'id': task.id}) }}"><i class="fas fa-trash-alt fa-2x"></i></a>
                    </p>
                </div>
    {% endfor %}
    </div>
{% endblock %}
