{% extends 'base.html.twig' %}

{% block title %}{% trans %}Résultat de recherche{% endtrans %}{% endblock %}

{% block body %}
    <h1 class="center">{% trans %}Résultat de recherche{% endtrans %}</h1>
    {% if results | length == 1 %}<h3 class="center">{% trans %}Résultat{% endtrans %} :  {{ results | length }}</h3>{% endif %}
    {% if results | length > 1 %}<h3 class="center">{% trans %}Résultats{% endtrans %} :  {{ results | length }}</h3>{% endif %}
    {% if results | length == 0 %}<h3 class="center">{% trans %}Pas de résultat{% endtrans %}</h3>{% endif %}

    <div class="row justify-content-center">
        {% for result in results %}
            <div class="post-it mt-3 col-lg-12 col-md-12 col-sm-12">
                <h3>{{ result.title }}</h3>
                {{ result.content | raw }}
                <p>{% trans %}Ajouté le{% endtrans %} : {{ result.createdAt | date('d/m/Y')}}
                {% if result.updatedAt %}
                    - {% trans %}Mise à jour le{% endtrans %} : {{ result.updatedAt | date('d/m/Y')}}
                {% endif %}
                    {% if result.category %}
                        - {% trans %}Dans la catégorie{% endtrans %} : {{ result.category.name }}
                    {% endif %}
                </p>
                <p>
                    <a class="btn btn-success" href="{{ path('edit_task', {'id': result.id}) }}">{% trans %}Editer{% endtrans %}</a>
                    <a class="btn btn-primary" href="{{ path('done_task', {'id': result.id}) }}">{% trans %}Terminer{% endtrans %}</a>
                    <a class="btn btn-danger" href="{{ path('delete_task', {'id': result.id}) }}">{% trans %}Effacer{% endtrans %}</a>
                </p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
