{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h1 class="center">{{ title }}</h1>
    {% if results | length == 1 %}<h3 class="center">Résultat :  {{ results | length }}</h3>{% endif %}
    {% if results | length > 1 %}<h3 class="center">Résultats :  {{ results | length }}</h3>{% endif %}
    {% if results | length == 0 %}<h3 class="center">Pas de résultat</h3>{% endif %}

    <div class="row justify-content-center">
        {% for result in results %}
            <div class="post-it mt-3 col-lg-12 col-md-12 col-sm-12">
                <h3>{{ result.title }}</h3>
                <p>{{ result.content }}</p>
                <p>Ajouté le : {{ result.createdAt | date('d/m/Y')}}</p>
                {% if result.updatedAt %}
                    <p>Mise à jour le : {{ result.updatedAt | date('d/m/Y')}}</p>
                {% endif %}
                <p>
                    <a class="btn btn-success" href="{{ path('edit_task', {'id': result.id}) }}">editer</a>
                    <a class="btn btn-primary" href="{{ path('done_task', {'id': result.id}) }}">terminer</a>
                    <a class="btn btn-danger" href="{{ path('delete_task', {'id': result.id}) }}">effacer</a>
                </p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
