{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    {{ title | h1center }}

    {% if results | length == 1 %}<h3 class="center">{% trans %}Result{% endtrans %} :  {{ results | length }}</h3>{% endif %}
    {% if results | length > 1 %}<h3 class="center">{% trans %}Results{% endtrans %} :  {{ results | length }}</h3>{% endif %}
    {% if results | length == 0 %}<h3 class="center">{% trans %}No result{% endtrans %}</h3>{% endif %}

    <div class="row justify-content-center">
        {% for result in results %}
            <div class="post-it mt-3 col-lg-12 col-md-12 col-sm-12">
                <h3>{{ result.title }}</h3>
                {{ result.content | raw }}
                <p>{% trans %}Add{% endtrans %} : {{ result.createdAt | date('d/m/Y')}}
                {% if result.updatedAt %}
                    - {% trans %}Updated{% endtrans %} : {{ result.updatedAt | date('d/m/Y')}}
                {% endif %}
                    {% if result.category %}
                        - {% trans %}In category{% endtrans %} : {{ result.category.name }}
                    {% endif %}
                </p>
                <p>
                    <a class="btn btn-success" href="{{ path('edit_task', {'id': result.id}) }}">{% trans %}Edit{% endtrans %}</a>
                    <a class="btn btn-primary" href="{{ path('done_task', {'id': result.id}) }}">{% trans %}Done{% endtrans %}</a>
                    <a class="btn btn-danger" href="{{ path('delete_task', {'id': result.id}) }}">{% trans %}Reset{% endtrans %}</a>
                </p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
