{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    {% if app.user is null %}

    <h1>{{ title }}</h1>

        {% include 'success_flash_message.html.twig' %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Envoyer</button>
        <button type="reset" class="btn btn-danger">Effacer</button>
    {{ form_end(form) }}

        {% else %}
            <h3>Vous êtes déja connecter</h3>
    {% endif %}

{% endblock %}