{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-lg-6">
            {% if app.user is null %}

                {{ title | h1 }}

                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-primary btn-sm">{% trans %}Send{% endtrans %}</button>
                <button type="reset" class="btn btn-danger btn-sm">{% trans %}Reset{% endtrans %}</button>
                {{ form_end(form) }}

            {% else %}
                <h3>{% trans %}You are already logged in{% endtrans %}</h3>
            {% endif %}
        </div>
    </div>
{% endblock %}