{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    {{ title | h1 }}

    <h5><a href="{{ path('profile') }}">{% trans %}My profile{% endtrans %}</a></h5>
    <h5><a href="{{ path('contact_index') }}">{% trans %}My contacts{% endtrans %}</a></h5>
    <h5><a href="{{ path('category_index') }}">{% trans %}My categories{% endtrans %} </a></h5>
    <h5><a href="{{ path('tasks_json') }}">{% trans %}My tasks in JSON format{% endtrans %} </a></h5>
    <h5><a href="{{ path('lang') }}">{% trans %}Language of the application{% endtrans %} </a></h5>

{% endblock %}