{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <h1>{{ title }}</h1>

    <h5><a href="{{ path('profile') }}">Mon profil</a></h5>
    <h5><a href="{{ path('contact_index') }}">Mes contacts</a></h5>
    <h5><a href="{{ path('category_index') }}">Mes catégories </a></h5>

{% endblock %}