<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container">
    <a class="navbar-brand" href="{{ path('home') }}">Task App {% if app.user %}Hello {{ app.user.username }}{% endif %}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            {% if is_granted('ROLE_USER') %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('home') }}">My tasks</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('profile') }}">My profile</a>
                </li>
            {% endif %}
            {% if app.user is null %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('app_register') }}">Register</a>
                </li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('user_index') }}">Users list</a>
                </li>
            {% endif %}
            {% if is_granted('ROLE_USER') %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('logout') }}">Logout</a>
                </li>
            {% endif %}
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    </div>
</nav>